<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Technical Assesment</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://unpkg.com/buefy/dist/buefy.min.css">
  </head>

  <body>
    <!-- <div id="counter">
      Counter: {{ counter }}
    </div> -->

    <div id="app">
      <template>
        <div class="hero is-success">
          <div class="hero-body">
            <div class="container has-text-centered">
                <h1 class="title">
                  Technical Assesment
                </h1>
                <h2>Alex Carpenter for Principal Techncial Consultant</h2>
              </div>
          </div>
          <div class="hero-foot">
          </div>
        </div>
        <b-tabs size="is-large" type="is-boxed" position="is-centered">
          <b-tab-item label="Objective 1">
            <div class="content-tab">
              <div class="columns is-mobile is-centered">
                <div class="column is-half">
                  <section>
                    <form class="box" ref="form">
                      <h1 class="title has-text-black-bis">{{form_params1.title}}</h1>
                      <h2 class="subtitle has-text-black-bis">{{form_params1.subtitle}}</h2>
                      <b-field label="First Name">
                          <b-input v-model="form_data.firstname" placeholder="Alex" type="text"></b-input>
                      </b-field>
                      <b-field label="Last Name">
                          <b-input v-model="form_data.lastname" placeholder="Carpenter" type="text" minlength="2" validation-message="Last Name Required"></b-input>
                      </b-field>
                      <b-field label="Email">
                          <b-input v-model="form_data.email" placeholder="email@example.com" type="email"></b-input>
                      </b-field>
                      <b-field>
                        <b-button label="Submit" type="is-primary" @click="send(form_params1)"/>
                      </b-field>
                    </form>
                    <section>
                      <b-message
                        auto-close
                        :title="response_data.status"
                        :type="response_data.class"
                        v-model="responseActive">
                        <p v-html="response_data.message"></p>test
                      </b-message>
                    </section>
                </section>

                </div>
              </div>
            </div>
          </b-tab-item>
          <b-tab-item label="Objective 2">
            <div class="content-tab">
              <div class="columns is-mobile is-centered">
                <div class="column is-half">
                  <section>
                    <form class="box" ref="form">
                      <h1 class="title has-text-black-bis">{{form_params2.title}}</h1>
                      <h2 class="subtitle has-text-black-bis">{{form_params2.subtitle}}</h2>
                      <b-field label="First Name">
                          <b-input v-model="form_data.firstname" placeholder="Alex" type="text"></b-input>
                      </b-field>
                      <b-field label="Last Name">
                          <b-input v-model="form_data.lastname" placeholder="Carpenter" type="text" minlength="2" validation-message="Last Name Required"></b-input>
                      </b-field>
                      <b-field label="Email">
                          <b-input v-model="form_data.email" placeholder="email@example.com" type="email"></b-input>
                      </b-field>
                      <b-field>
                        <b-button label="Submit" type="is-primary" @click="send(form_params2,form_data)"/>
                      </b-field>
                    </form>
                    <section>
                      <b-message
                        auto-close
                        :title="response_data.status"
                        :type="response_data.class"
                        v-model="responseActive">
                        <p v-html="response_data.message"></p>test
                      </b-message>
                    </section>
                </section>
                </div>
              </div>
            </div>
          </b-tab-item>
          <b-tab-item label="Bonus"> Bonus Page </b-tab-item>
        </b-tabs>
      </template>
    </div>

    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/buefy/dist/buefy.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="script.js"></script>
  </body>
</html>
