<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Technical Assesment</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://unpkg.com/buefy/dist/buefy.min.css">
  </head>

  <body>

<!-- Start instance of vue app -->
    <div id="app">
      <template>
        <div class="hero is-success">
          <div class="hero-body">
            <div class="container has-text-centered">
                <h1 class="title">
                  Technical Assesment
                </h1>
                <h2>Alex Carpenter for Principal Techncial Consultant</h2>
                <h2>January 2022</h2>
              </div>
          </div>
          <div class="hero-foot">
          </div>

        </div>


<!-- Tab navigation using Buefy (a vue library to implement bulmajs with added magic) -->
<div class="hero is-light">
  <b-tabs expanded size="is-large" type="is-toggle" position="is-centered">
    <b-tab-item label="Objective 1">
        <div class="columns is-mobile is-centered">
          <div class="column is-half">
            <section>
              <!-- From for objective 1 -->
              <form class="box" ref="form">
                <h1 class="title has-text-black-bis">{{form_params1.title}}</h1>
                <h2 class="subtitle has-text-black-bis">{{form_params1.subtitle}}</h2>
                <b-field label="First Name">
                    <b-input v-model="form_data.firstname" placeholder="Alex" type="text"></b-input>
                </b-field>
                <b-field label="Last Name">
                    <b-input v-model="form_data.lastname" placeholder="Carpenter" type="text" minlength="2" validation-message="Last Name Required"></b-input>
                </b-field>
                <b-field label="Email">
                    <b-input v-model="form_data.email" placeholder="email@example.com" type="email"></b-input>
                </b-field>
                <b-field>
                  <b-button label="Submit" type="is-primary is-fullwidth" @click="send(form_params1)"/>
                </b-field>
              </form>
              <section>
                <!-- Response message -->
                <b-message
                  auto-close
                  :title="response_data.status"
                  :type="response_data.class"
                  v-model="responseActive">
                  <p v-html="response_data.message"></p>test
                </b-message>
              </section>
          </section>

          </div>
        </div>
    </b-tab-item>
    <b-tab-item label="Objective 2">
        <div class="columns is-mobile is-centered">
          <div class="column is-half">
            <section>
              <!-- From for objective 2 -->
              <form class="box" ref="form">
                <h1 class="title has-text-black-bis">{{form_params2.title}}</h1>
                <h2 class="subtitle has-text-black-bis">{{form_params2.subtitle}}</h2>
                <b-field label="First Name">
                    <b-input v-model="form_data.firstname" placeholder="Alex" type="text"></b-input>
                </b-field>
                <b-field label="Last Name">
                    <b-input v-model="form_data.lastname" placeholder="Carpenter" type="text" minlength="2" validation-message="Last Name Required"></b-input>
                </b-field>
                <b-field label="Email">
                    <b-input v-model="form_data.email" placeholder="email@example.com" type="email"></b-input>
                </b-field>
                <b-field>
                  <b-button label="Submit" type="is-primary is-fullwidth" @click="send(form_params2,form_data)"/>
                </b-field>
              </form>
              <section>
                <b-message
                  auto-close
                  :title="response_data.status"
                  :type="response_data.class"
                  v-model="responseActive">
                  <p v-html="response_data.message"></p>test
                </b-message>
              </section>
          </section>
          </div>
        </div>
    </b-tab-item>
    <!-- Bonus page, will turn into form dashboard if time permits -->
    <b-tab-item label="Dashboard">
      <!-- //////// -->
      <div class="title">
        Contact Lists
      </div>
      <!-- //////// -->
      <contact-list
        v-for="list in lists"
        v-bind:list="list"
      ></<contact-list>

    </b-tab-item>
  </b-tabs>
</div>
      </template>
    </div>

    <!-- Import necessary libraries -->
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/buefy/dist/buefy.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- HS UTK script -->
    <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/21334118.js"></script>
    <script src="script.js"></script>
  </body>
</html>
